#nav-logo{
    display: block;
    width: 30%;
    height: 30%;
}


h1{
    font-size: 300% !important;
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 250% !important;
    }
    
  }

  @media screen and (max-width: 576px) {
    h1{
        font-size: 200% !important;
    }
    
  }