#nav-logo{
    display: block;
    width: 200px;
    height: 30%;
}

main{
     margin-top: 10%;
}

nav{
    top:0;
    position: fixed !important;
    transition: top 0.5s !important;
    background-color: #181A1B99 !important !important;
    overflow: hidden;

}


#nav-button-container{
    
}

#open-button-container{
    display: none;

}

.btt{
    background-position: center !important;
    background-size: 80% !important;
    width: 40px;
    height: 40px;
}

#openbtn{
    background-image: url('/media/menu.png') !important;

}

#closebtn{
    background-image: url('/media/close.png') !important;
    display: none;

}

.collapse{
    position: fixed !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    background-color: grey;
    right: -40%;
    top: 0%;
    padding: 30px;
    transition: 0.5s !important;
}

.collapse > li{
    width: 70%;
}

.nav-shadow{
-webkit-box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);
-moz-box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);
box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);

}

#welcome-screen{
    margin-bottom: 60%;
    margin-top:5%;
}

h1{
    font-size: 300% !important;
}

.card{
    margin-bottom: 25%;

}

.skill-img{
    display: block;
    width: 50px;
    float:left;
}

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-prog{
    width: 100% !important;
}

#skill-table{
    margin: 0px !important;
    overflow-y: scroll !important;
}

.grid{
    padding:0px;
    min-height: 500px !important;
}

.skill-card{
    min-height: fit-content !important;
}

.skill-grid{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: column;
}


#grid-text{
    padding: 30px !important;
}

.grid-img{
    display: block;
    background-size: cover;
    background-position: center;
    min-height: 340px !important;
}

.about-img{
    background-image: url('/media/1.jpeg');
    background-position:top;
}

.grid-item{
    display: flex;
}

#prg-container{
    width: 75% !important;
}

#Experience{
    background-image: url('/media/2.jpg');
    background-position:bottom;
}

#message{
    resize: none;
    overflow: auto;
}
#contact-form-container{
    padding-left: 120px;
    padding-right: 120px;
}



@media screen and (max-width: 768px) {
    h1{
        font-size: 250% !important;
    }

    a[role=button]{
        font-size: medium;
    }

    #nav-logo{
        width: 150px;
        height: 25%;
    }
    
  }

  @media screen and (max-width: 610px) {
    a[role=button]{
        font-size: small;
    }
}

  @media screen and (max-width: 576px) {
    h1{
        font-size: 200% !important;
    }

    a[role=button]{
        font-size: 10px;
    }

    #nav-logo{
        display: block;
        width: 95px;
        height: 20%;
    }
    
    #form-text{
        font-size: 25px!important;
    }

    #contact-form-container{
    padding-left: 30px;
    padding-right: 30px;
    }

    #open-button-container{
        display: block;
    }

    #closebtn{
        display: block;
    }

    #nav-button-container{
        position: fixed !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 70%;
        background-color: #2c3033;
        right: -70%;
        top: 0%;
        padding: 30px;
        transition: 0.5s !important;
    }

    #nav-button-container>li{
    width: 70%;
    }

    #welcome-screen{
        margin-top: 40%;
        margin-bottom: 100%;
    }

  }