#nav-logo{
    display: block;
    width: 200px;
    height: 30%;
}

main{
     margin-top: 10%;
}

nav{
    top:0;
    position: fixed !important;
    transition: top 0.5s !important;
    background-color: #11191F99;
}

.nav-shadow{
    -webkit-box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);
-moz-box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);
box-shadow: 0px 20px 75px -12px rgb(23, 23, 26);
}

#welcome-screen{
    margin-bottom: 60%;
    margin-top:5%;
}

h1{
    font-size: 300% !important;
}

.card{
    margin-bottom: 25%;

}

.skill-img{
    display: block;
    width: 50px;
    float:left;
}

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-prog{
    width: 80% !important;
}

#skill-table{
    margin: 0px !important;
    overflow-y: scroll !important;
}

.grid{
    padding:0px;
    min-height: 500px !important;
}

.skill-card{
    min-height: fit-content !important;
}

.skill-grid{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: column;
}


#grid-text{
    padding: 30px !important;
}

.grid-img{
    display: block;
    background-size: cover;
    background-position: center;
    min-height: 340px !important;
}

.about-img{
    background-image: url('/media/1.jpeg');
    background-position:top;
}

.grid-item{
    display: flex;
}

#prg-container{
    width: 75% !important;
}

#Experience{
    background-image: url('/media/2.jpg');
    background-position:bottom;
}

#message{
    resize: none;
    overflow: auto;
}
#contact-form-container{
    padding-left: 120px;
    padding-right: 120px;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 250% !important;
    }

    a[role=button]{
        font-size: medium;
    }

    #nav-logo{
        width: 150px;
        height: 25%;
    }
    
  }

  @media screen and (max-width: 610px) {
    a[role=button]{
        font-size: small;
    }
}

  @media screen and (max-width: 576px) {
    h1{
        font-size: 200% !important;
    }

    a[role=button]{
        font-size: 10px;
    }

    #nav-logo{
        display: block;
        width: 95px;
        height: 20%;
    }
    

    

    
  }